@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar { width: 4px; }
  .custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
  .custom-scrollbar::-webkit-scrollbar-thumb { background: #292524; border-radius: 10px; }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #44403c; }
}
